<div class="row">
    <div class="flex flex-col gap-4">
        <h1 class="text-7xl font-bold text-[#222D30] dark:text-yellow-200 px-8">Empleados</h1>
    </div>
</div>
<section class="flex justify-center items-start  gap-4 w-full flex-wrap">

        <div class=" min-w-[100%] mx-4 p-4" id="scrollbar">
            <app-employee-table (save)="onDataSave($event)"></app-employee-table>
        </div>
            <app-employee-form *ngIf="currentTab == 'add'" (employeeAdded)="onClientAdded()"></app-employee-form>
 

</section>