
<input type="text" class="bg-white   text-dark-primary mb-2   ring-1 block rounded-md  px-3 py-2 mx-2 focus:ring-1 focus:ring-gray-500 active:ring-0 focus:ring-opacity-5 outline-none " [formControl]="rowCtrl" placeholder="Filtrar">
<table mat-table [dataSource]="filteredRows$" class="w-full  h-full shadow-sm dark:bg-transparent dark:text-white overflow-auto" #table>
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema" class="w-full ">
      <th mat-header-cell *matHeaderCellDef class="dark:text-yellow-200 text-light-navbar"  >
        {{col.label}}
      </th>
      <td mat-cell *matCellDef="let element" class="dark:text-white text-light-navbar w-[200px]">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit" class=" w-[200px]">
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button  (click)="element.isEdit = !element.isEdit">Editar</button>
          </div>
          <span *ngSwitchCase="'date'" >
            {{element[col.key] | date:'dd-MM-yyyy'}}
          </span>
          <div *ngIf="col.key !== 'game' || col.key !== 'roles' ">
          <span *ngSwitchDefault >
            {{ element[col.key] }}
          </span>
            </div>
            <div *ngSwitchCase="'select'">
                <span >
                  {{ getDisplayValue(element ,col.key)  }}
                </span>
            </div>

            <div *ngSwitchCase="'role'" >
                <ul>
                  <li *ngFor="let role of element.roles">{{role.role}}</li>
                </ul>
            </div>
        </div>
        <div [ngSwitch]="col.key" *ngIf="!element.isEdit">
            <span *ngSwitchDefault>
              {{ element[col.key.name]}}
            </span>
        </div>
        <div *ngIf="element.isEdit" >
          <div class="btn-edit" *ngIf="col.key === 'isEdit'; else dataField">
            <button  (click)="emitSave(element)">Guardar</button>
          </div>
          <ng-template #dataField [ngSwitch]="col.type">

              <input *ngSwitchDefault
                class="bg-transparent  form-input text-dark-primary pl-0  block  rounded-sm border-0  "
                [type]="col.type"
                [(ngModel)]="element[col.key]
                "
                autofocus
              />
              <div class="btn-edit" *ngSwitchCase="'select'">
                <div *ngIf="col.key === 'game'">
                <select [(ngModel)]="element.game" [compareWith]="compareGames" class="bg-transparent  form-select text-dark-primary pl-0  block  rounded-sm border-0  ">
                    <option [value]="null">Sin asignar</option>
                    <option *ngFor="let game of games" [ngValue]="game" >{{game.name}}</option>
                </select>
                </div>
              </div>
              <div class="btn-edit" *ngSwitchCase="'lastVisit'" >

                  <span >
                    {{ element[col.key]}}
                  </span>
             
              </div>
              <div *ngSwitchCase="'role'">
                <div *ngIf="col.key === 'roles'">
                  <select [(ngModel)]="element.roles" multiple class="bg-transparent   form-multiselect text-dark-primary pl-0 h-[60px] overflow-y-auto block  rounded-sm border-0  ">

                      <option *ngFor="let role of roles" [ngValue]="role" [selected]="element.roles.includes(role)">{{role.role }}</option>
                  </select>
                </div>
            </div>
  
          </ng-template>
        </div>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="(filteredRows$ | async)?.length" [pageSize]=" 10" [pageIndex]=" 1"
  (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
