<section class="p-4 h-full" #content>
<table class="w-full mb-8 flex flex-col justify-between h-full">
    <thead class="border-b-2 border-b-gray-200">
        <tr class="w-full  flex gap-4">
            <th class="text-left font-bold text-primary w-[25%]">Descripcion</th>
            <th class="text-left font-bold text-primary w-[25%]">Cantidad</th>
            <th class="text-left font-bold text-primary w-[25%]">Comprador</th>
            <th class="text-right font-bold text-primary w-[25%]">Precio</th>
        </tr>
    </thead>
    <tbody class="flex-1">
        <tr *ngFor="let ticket of ticketData" class="w-full  flex gap-4">
            <td  class="text-left text-primary w-[25%]"> {{ticket.type === 'GENERAL' ?  currentGame.name : 'ENTRADA VIP'}}</td>
            <td  class="text-left text-primary w-[25%]"> {{ticketCount}}</td>
            <td class="text-left w-[25%]">{{ticket.buyer.name + " " +ticket.buyer.surname}}</td>
            <td class="text-right w-[25%]">{{displayPrice(ticket) | currency}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="w-full  flex gap-4">
            <td class="text-left font-bold text-primary w-[25%]">Total</td>
            <td class="text-left font-bold text-primary min-w-[50%]"></td>
            <td class="text-right font-bold text-primary w-[25%]">{{total | currency}}</td>
        </tr>
    </tfoot>
</table>
<div class="flex gap-4">

<button class="text-[#15723f] font-medium bg-white flex items-center gap-2 px-4 py-1 rounded-sm">
    <svg class="fill-[#15723f]" xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" width="16" height="16"><path d="M7.8,21.425A2.542,2.542,0,0,1,6,20.679L.439,15.121,2.561,13,7.8,18.239,21.439,4.6l2.122,2.121L9.6,20.679A2.542,2.542,0,0,1,7.8,21.425Z"/></svg>
    Procesar compra
</button>
<button class="text-[#CD4527] font-medium bg-white flex items-center gap-2 px-4 py-1 rounded-sm">
    <img src="/assets/img/close.png" alt="" width="16" class="" (click)="cancel(ticketData)">
    Cancelar compra
</button>
</div>
</section>