<section class="h-full flex flex-col gap-4" #content>
    <div class="flex-1" *ngIf="isLoading">
        <app-loader ></app-loader>
    </div>
    <table class="w-full flex flex-col justify-between flex-1 text-light-primary dark:text-white" *ngIf="!isLoading">
        <thead class="border-b-[.5px] border-[#5a5a5a]">
            <tr class="w-full  flex gap-4">
                <th class="text-left  w-full">Descripcion</th>
                <th class="text-left  w-full">Juego</th>
                <th class="text-left  w-full">Comprador</th>
                <th class="text-right  w-full">Precio</th>
            </tr>
        </thead>
        <tbody class="flex-1">
            
            <tr *ngFor="let detail of ticketData" class="w-full  flex gap-4">
                <td  class="text-left  w-full"> {{detail.ticket.description}}</td>
                <td  class="text-left  w-full"> {{detail.ticket.vip ?'Todos'  : currentGame.name}}</td>
                <td class="text-left    w-full">{{detail.buyer.name + " " +detail.buyer.surname}}</td>
                <td class="text-right w-full">{{detail.ticket.price | currency}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="w-full  flex gap-4 justify-between">
                <td class="text-left   font-bold  w-full">Total</td>
                <td class="text-right   font-bold  w-full">{{total | currency}}</td>
            </tr>
        </tfoot>
    </table>
<div class="flex gap-4 pt-4 justify-between" *ngIf="!isLoading">

    <button (click)="cancel()" class="text-light-primary font-medium  dark:text-white flex items-center gap-2 px-5 py-2 rounded-md border-b border-[#1d1d1d] dark:border-white dark:hover:bg-[#2f2f2f44] hover:bg-[#b2dddab7]">
        <svg class="fill-light-navbar dark:fill-white" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.021 512.021" style="enable-background:new 0 0 512.021 512.021;" xml:space="preserve" width="16" height="16">
            <g>
                <path d="M301.258,256.01L502.645,54.645c12.501-12.501,12.501-32.769,0-45.269c-12.501-12.501-32.769-12.501-45.269,0l0,0   L256.01,210.762L54.645,9.376c-12.501-12.501-32.769-12.501-45.269,0s-12.501,32.769,0,45.269L210.762,256.01L9.376,457.376   c-12.501,12.501-12.501,32.769,0,45.269s32.769,12.501,45.269,0L256.01,301.258l201.365,201.387   c12.501,12.501,32.769,12.501,45.269,0c12.501-12.501,12.501-32.769,0-45.269L301.258,256.01z"/>
            </g></svg>
        Cancelar compra
    </button>
<button class="text-light-primary font-medium  dark:text-white flex items-center gap-2 px-5 py-2 rounded-md border-b border-[#1d1d1d] dark:border-white  dark:hover:bg-[#2f2f2f44] hover:bg-[#b2dddab7]" (click)="onSubmit()">
    <svg class="fill-light-navbar dark:fill-white" xmlns="http://www.w3.org/2000/svg" id="Isolation_Mode" data-name="Isolation Mode" viewBox="0 0 24 24" width="16" height="16"><path d="M7.8,21.425A2.542,2.542,0,0,1,6,20.679L.439,15.121,2.561,13,7.8,18.239,21.439,4.6l2.122,2.121L9.6,20.679A2.542,2.542,0,0,1,7.8,21.425Z"/></svg>
    Procesar compra
</button>
</div>
</section>