<div class="bg-white border rounded-lg shadow-lg px-6 pt-8 pb-4 max-w-md mx-auto " id="htmlData">
    <div class="flex gap-4">
        <img src="/assets/img/logo.png" width="128" >
        <div class="header flex flex-col">
            <h1 class="font-bold text-4xl mt-4 text-center text-secondary">CRAZY LAND </h1>
            <h5 class="font-bold text-xl my-4 text-center text-secondary">Parque de diversiones</h5>
        </div>
    </div>
    <hr class="mb-2">
    <div class="flex justify-between mb-6">
        <h1 class="text-lg font-bold">Invoice</h1>
        <div class="text-gray-700">
            <div>{{currentDay}}</div>
            <div class="text-end">{{currentTime}}</div>
        </div>
    </div>
    <table class="w-full mb-8">
        <thead>
            <tr>
                <th class="text-left font-bold text-gray-700">Descripcion</th>
                <th class="text-left font-bold text-gray-700">Comprador</th>
                <th class="text-right font-bold text-gray-700">Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ticket of data">
                <td  class="text-left text-gray-700">1 {{ticket.game?.name || '' +" " +ticket.type}}</td>
                <td>{{ticket.buyer.name + " " +ticket.buyer.surname}}</td>
                <td>{{ticket.amount | currency}}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td class="text-left font-bold text-gray-700">Total</td>
                <td class="text-left font-bold text-gray-700"></td>
                <td class="text-right font-bold text-gray-700">{{total | currency}}</td>
            </tr>
        </tfoot>
    </table>
    <div class="text-gray-700 mt-2 text-center">Gracias por su compra</div>
</div>