
    <table class="w-full">
    <thead class="" >
        <tr class="bg-[#B5D5C5] dark:bg-[#183A1D] sticky top-0 ">
            <th class="text-start  pl-2" *ngFor="let header of headers; index as i" [ngClass]="{'pr-14':i !== headers.length-1}" [class.pr-2]="i===headers.length-1">
                {{ header }}
            </th>
            <th *ngIf="actions" class="w-[14rem]">
               Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data; index as j" class="max-w-fit border-b-2 hover:bg-[#EEE9DA] dark:hover:bg-[#1a1a1a]">
            <td *ngFor="let column of columns;index as c" class="text-start pl-2 py-2"  [class.pr-2]="c===columns.length-1">
                {{ row[column] }}
            </td>
            <td class="py-2 flex justify-center items-center" *ngIf="actions">
                <button class="py-2 px-4 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="16" height="16"
                    class="dark:fill-white"
                    ><path d="M23.271,9.419C21.72,6.893,18.192,2.655,12,2.655S2.28,6.893.729,9.419a4.908,4.908,0,0,0,0,5.162C2.28,17.107,5.808,21.345,12,21.345s9.72-4.238,11.271-6.764A4.908,4.908,0,0,0,23.271,9.419Zm-1.705,4.115C20.234,15.7,17.219,19.345,12,19.345S3.766,15.7,2.434,13.534a2.918,2.918,0,0,1,0-3.068C3.766,8.3,6.781,4.655,12,4.655s8.234,3.641,9.566,5.811A2.918,2.918,0,0,1,21.566,13.534Z"/><path d="M12,7a5,5,0,1,0,5,5A5.006,5.006,0,0,0,12,7Zm0,8a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z"/></svg>
                </button>
                <button class="py-2 px-4 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="16" height="16"><g id="_01_align_center" class="dark:fill-white" data-name="01 align center"><path d="M22.94,1.06a3.626,3.626,0,0,0-5.124,0L0,18.876V24H5.124L22.94,6.184A3.627,3.627,0,0,0,22.94,1.06ZM4.3,22H2V19.7L15.31,6.4l2.3,2.3ZM21.526,4.77,19.019,7.277l-2.295-2.3L19.23,2.474a1.624,1.624,0,0,1,2.3,2.3Z"/></g></svg>
                </button>
                <button class="py-2 px-4 rounded-md">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="16" height="16"
                    class="dark:fill-white"
                    ><path d="M21,4H17.9A5.009,5.009,0,0,0,13,0H11A5.009,5.009,0,0,0,6.1,4H3A1,1,0,0,0,3,6H4V19a5.006,5.006,0,0,0,5,5h6a5.006,5.006,0,0,0,5-5V6h1a1,1,0,0,0,0-2ZM11,2h2a3.006,3.006,0,0,1,2.829,2H8.171A3.006,3.006,0,0,1,11,2Zm7,17a3,3,0,0,1-3,3H9a3,3,0,0,1-3-3V6H18Z"/><path d="M10,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,10,18Z"/><path d="M14,18a1,1,0,0,0,1-1V11a1,1,0,0,0-2,0v6A1,1,0,0,0,14,18Z"/></svg>
                </button>
            </td>
        </tr>
        
    </tbody>
    </table>
