
<section class="h-full flex flex-col">
    <div class="container gap-4 mx-auto bg-[#1a1a1a] flex-1 flex flex-col">
        <div class="row">
        <div class="col-12">
            <p class="text-center">Ticket Selector</p>
        </div>
        </div>
        <div class="row flex-1">
        <div class="col-12 mx-auto w-full">
            <app-add-ticket-form></app-add-ticket-form>
        </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-center">Total: </p>
            </div>
        </div>
        <!-- <div class="actions flex gap-2">
            <button type="button" class="text-white bg-green-600 p-1 rounded-sm">Guardar y añadir otro</button>
            <button type="submit" class="text-white bg-green-600 p-1 rounded-sm">Guardar e imprimir</button>
            <button type="reset" class="text-white bg-green-600 p-1 rounded-sm">Cancelar</button>
        </div> -->
    </div>
</section>
