<div
    class=" login-form mx-auto w-full h-full flex flex-col items-center  gap-4 text-light-primary dark:text-dark-primary">
    <form class="flex flex-col gap-4 " [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="flex gap-2 items-center justify-between">
            <div class="flex flex-col gap-2 w-full">
                <label class="whitespace-nowrap ">Empleado <span class="text-red text-sm align-top">*</span></label>
                <input
                    class="form-input text-dark-primary mt-1 block w-full rounded-md border-gray-300 shadow-md focus:border-green-600 focus:ring-2 caret-green focus:ring-green-600 focus:ring-opacity-5"
                    type="text" id="" placeholder="Buscar por DNI" formControlName="employee" [matAutocomplete]="auto"
                    [value]="displayEmployee(userForm.get('employee')?.value)">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let employee of filteredEmployees$ | async" [value]="employee">
                        {{ employee.name +' '+ employee.surname }}, ({{employee.dni}})
                    </mat-option>
                </mat-autocomplete>
            </div>
        </div>
        <div class="flex gap-2 ">
            <div class="flex flex-col ">
                <label class="blok whitespace-nowrap w-[40%]">Nombre de usuario <span
                        class="text-red text-sm align-top">*</span></label>
                <div class="">
                    <div class="flex">
                        <input class="form-input flex-1 text-dark-primary mt-1 block w-full rounded-l-md border-gray-300 shadow-md focus:border-green-600 caret-green focus:ring-4 focus:ring-green-600 focus:ring-opacity-5" type="text"
                            id="username" placeholder="Nombre de usuario" formControlName="username">
                            <input class="form-input flex-1 text-dark-primary mt-1 block w-[45%] rounded-r-md border-gray-300 shadow-md focus:border-green-600 caret-green focus:ring-4 focus:ring-green-600 focus:ring-opacity-5" type="text"
                            id="domain" value="@crazyland.com" disabled>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="flex flex-col gap-2 ">
            <div class="flex flex-col ">
                <label class="blok whitespace-nowrap ">Contraseña</label>
                <div class="flex relative items-center">
                <input class="form-input  text-dark-primary mt-1 block w-full rounded-md border-gray-300 shadow-md focus:border-green-600 focus:ring-2 caret-green focus:ring-green-600 focus:ring-opacity-5" type="password"
                    id="password" placeholder="Contraseña" formControlName="password" #password>
                <button class="absolute top-4 right-3 text-dark-primary"  (click)="showPw()">
                    <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24" height="18"><path d="M23.271,9.419C21.72,6.893,18.192,2.655,12,2.655S2.28,6.893.729,9.419a4.908,4.908,0,0,0,0,5.162C2.28,17.107,5.808,21.345,12,21.345s9.72-4.238,11.271-6.764A4.908,4.908,0,0,0,23.271,9.419Zm-1.705,4.115C20.234,15.7,17.219,19.345,12,19.345S3.766,15.7,2.434,13.534a2.918,2.918,0,0,1,0-3.068C3.766,8.3,6.781,4.655,12,4.655s8.234,3.641,9.566,5.811A2.918,2.918,0,0,1,21.566,13.534Z"/><path d="M12,7a5,5,0,1,0,5,5A5.006,5.006,0,0,0,12,7Zm0,8a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z"/></svg>
                </button>
                </div>
            </div>
            <div>
            <label for="DNI" class="whitespace-nowrap">Roles</label>
            <select formControlName="roles" class="form-multiselect
            overflow-hidden

            appearance-none
            text-dark-primary
            mt-1
            block
            w-full
            rounded-md
            border-gray-300
            shadow-md
            focus:border-green-600 focus:ring-2 caret-green focus:ring-green-600 focus:ring-opacity-5" multiple>
                <option *ngFor="let role of roles" [value]="role">{{role.role}}</option>
            </select>
        </div>
        </div>
        <button
            class="text-light-primary dark:text-dark-primary font-medium py-2 px-4 border-b-4 rounded">
            Registrar
        </button>
    </form>

</div>