<div
class="background z-[-9999] absolute top-0 left-0 flex bg-[url(/assets/img/login_modo_claro.webp)] dark:bg-[url(/assets/img/login_modo_oscuro.webp)] bg-cover h-screen w-screen items-center justify-center">
</div>
<div class="flex flex-col items-center justify-center h-screen " >
    <div class="flex flex-col justify-center items-center rounded-lg bg-light-navbar dark:bg-light-primary dark:bg-opacity-60  bg-opacity-60  dark:backdrop-filter backdrop-filter dark:backdrop-blur-[10px] backdrop-blur-[10px] lg:w-2/6 sm:w-1/2  h-3/5 p-8">
        <div *ngIf="isLoading" class="w-full ">
            <app-loader></app-loader>
          </div>
    <div *ngIf="!isLoading && errorMessage !== ''" class="text-center w-full">
        <span class="text-xl text-white  w-full">
            {{errorMessage}}
        </span>
    </div>

    <form
        *ngIf="!isLoading"
        class="flex flex-col gap-8 w-full items-center "
        [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <h1 class="text-3xl text-center text-white dark:text-white w-full">Iniciar sesión</h1>

        <div class="w-full">
            <input
            class="form-input w-full text-gray-900 mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
                type="email" id="username" placeholder="example@fantasyk.com " formControlName="username">
            
                <div
                class="flex flex-col mt-1"
            *ngIf="
              loginForm.get('username')?.invalid &&
              loginForm.get('username')?.errors &&
              (loginForm.get('username')?.dirty ||
                loginForm.get('username')?.touched)
            "
          >
            <small
              class="dark:text-yellow-200 text-light-primary"
              *ngIf="loginForm.get('username')?.hasError('required')"
              >Este campo no puede estar vacío.</small
            >
            <small
            class="dark:text-yellow-200 text-light-primary"
            *ngIf="loginForm.get('username')?.hasError('email') || loginForm.get('username')?.hasError('pattern') "
            >Ingrese un email válido.</small
          >            

            <small
              class="dark:text-yellow-200 text-light-primary"
              *ngIf="loginForm.get('username')?.hasError('minlength')"
              >
              El nombre de usuario debe tener al menos 8 caracteres.
              </small
            >
          </div>
        </div>

        <div class="w-full">
          <div class="relative">
            <input
            class="form-input w-full text-gray-900 mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
            [type]="viewPassword ? 'text' : 'password'" id="password" placeholder="contraseña" formControlName="password">
                <button type="button" class="absolute top-[.8rem] right-3 text-dark-primary"  (click)="viewPassword = !viewPassword">
                  <svg xmlns="http://www.w3.org/2000/svg" id="Outline" viewBox="0 0 24 24" width="24" height="18"><path d="M23.271,9.419C21.72,6.893,18.192,2.655,12,2.655S2.28,6.893.729,9.419a4.908,4.908,0,0,0,0,5.162C2.28,17.107,5.808,21.345,12,21.345s9.72-4.238,11.271-6.764A4.908,4.908,0,0,0,23.271,9.419Zm-1.705,4.115C20.234,15.7,17.219,19.345,12,19.345S3.766,15.7,2.434,13.534a2.918,2.918,0,0,1,0-3.068C3.766,8.3,6.781,4.655,12,4.655s8.234,3.641,9.566,5.811A2.918,2.918,0,0,1,21.566,13.534Z"/><path d="M12,7a5,5,0,1,0,5,5A5.006,5.006,0,0,0,12,7Zm0,8a3,3,0,1,1,3-3A3,3,0,0,1,12,15Z"/></svg>
              </button>
            </div>
                <div
                class="flex flex-col mt-1"
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.errors &&
              (loginForm.get('password')?.dirty ||
                loginForm.get('password')?.touched)
            "
          >
            <small
              class="dark:text-yellow-200 text-light-primary"
              *ngIf="loginForm.get('password')?.hasError('required')"
              >Este campo no puede estar vacío.</small
            >
            <small
              class="dark:text-yellow-200 text-light-primary"
              *ngIf="loginForm.get('password')?.hasError('minlength')"
              >
              La contraseña debe tener al menos 8 caracteres.
              </small
            >
          </div>
        </div>
        <div >
            <button
                class="text-white text-sm font-medium  text-center hover:bg-[#577b96]  bg-light-navbar dark:hover:bg-[#252527] dark:bg-[#18181B] dark:text-white transition duration-200 ease-in py-2 px-4 rounded-md w-full"
                type="submit">Iniciar sesión</button>
        </div>



        <a class="text-md font-medium text-center text-white dark:text-white" routerLink="/auth/recuperar">Olvidé mi
            contraseña</a>
    </form>
</div>
</div>