<input  (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>


<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
      <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DNI </th>
      <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de nacimiento </th>
      <td mat-cell *matCellDef="let row"> {{row.birthdate | date:'dd-MM-YYYY'}} </td>
    </ng-container>
    <ng-container matColumnDef="game">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Juego asignado </th>
      <td mat-cell *matCellDef="let row">
        <span >
            {{ row.game ? row.game.name : 'Sin Asignar'  }}
          </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encontraron registros de  "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>