<div class="mx-[2rem] flex justify-between">
    <div class="max-h-[550px] overflow-auto flex-1" id="scrollbar">
        <!-- <button class="bg-green-400 text-white" (click)="openDialog()">AÑADIR COMPRADOR</button> -->
        <!-- <div class="flex gap-2 mb-1  items-center">
            <label for="entries"> Mostrar</label>
            <select id="entries" class="text-secondary" [(ngModel)]="pageSize" (ngModelChange)="setPageSize()">
                <option [value]="clients && clients.length > 0 ? clients.length : 0">Todo</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>

        </div> -->
        <div class="">
            <app-table [data]="clients" [headers]="headers" [columns]="columns" [actions]="true"></app-table>
        </div>
    </div>
    <div>
        <app-buyer-form></app-buyer-form>
    </div>
</div>  