<section class="flex justify-center items-start gap-4 w-full">

    <div class=" p-4 h-full" id="scrollbar">
        <app-table [data]="clients" [headers]="headers" [columns]="columns" [actions]="true" (edit)="onEdit($event)"></app-table>
        
    </div>
    <div class="filters bg-zinc-100 dark:bg-[#191919] p-4  rounded-lg ">
        <div class="flex gap-2">
            <button class="rounded-xl bg-slate-50 text-secondary px-2" (click)="setTab('add')">Registrar cliente</button>
            <button class="rounded-xl bg-slate-50 text-secondary px-2" (click)="setTab('filter')">Filtrar</button>
            <button class="rounded-xl bg-slate-50 text-secondary px-2" (click)="setTab('idk')">Nose</button>
        </div>
        <app-buyer-form *ngIf="currentTab == 'add'" (clientAdded)="onClientAdded()" ></app-buyer-form>
        <div *ngIf="currentTab == 'filter'">
            filtros
        </div>
    </div>
 
</section>
