<div class="viewer container flex justify-center">
    <div class="ticket relative border-2 border-[#9facbc] bg-white w-[650px] ring-offset-transparent ">
        <img src="/assets/img/bg-ticket.png" class="absolute object-cover object-left top-0 left-0 w-full max-h-full opacity-[.15]"
            alt="">
        <div class="ticket-body w-full h-full ">
            <div class="flex  justify-between">
                <div class="flex flex-col p-4">
                <header class="flex items-center gap-2">
    
                    <img src="/assets/img/java-svgrepo-com.svg" alt="" width="64">
                    <h1 class="text-secondary text-5xl mt-2">BRAND</h1>
                </header>
                <div class="body my-10">
                    <p class="text-3xl text-start text-secondary">NOMBRE DEL JUEGO</p>
                    <p class="text-xl text-start text-secondary">Entrada general <span class="text-[14px] font-bold align-text-top">*</span></p>
                    <p class="text-xl text-start text-secondary">Nombre Apellido</p>
                    <p class="text-xl text-start text-secondary">Edad <span class="text-[14px] font-bold align-text-top">**</span></p>
                </div>

                <div class="ticket__timing text-secondary flex gap-6">
                    <p>
                        <span class="ticket__detail">{{currentDay }}</span>
                    </p>
                    <p>
                        <span class="ticket__detail">{{currentTime}}</span>
                    </p>
                </div>
            </div>
            <div class="flex flex-col justify-between items-center bg-white z-[99] border-dashed border-l-4 border-l-green-400">
                <p class=" text-xl  text-secondary">Valor: {{totalPrice | currency}}</p>
                <img src="/assets/img/qr-code.svg" width="200">
            </div>
        </div>
        </div>
    </div>
</div>