<input class="
ml-auto
form-input
text-gray-900
mt-1
block
self-end
rounded-md
border-gray-300
shadow-md
focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"  (keyup)="applyFilter($event)" placeholder="Filtrar" #input>


<div class=" h-full min-h-[400px] overflow-auto my-4">
  <table mat-table [dataSource]="dataSource" matSort class="h-full dark:bg-transparent bg-opacity-30 overflow-auto">
    <div [formGroup]="buyerForm">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Nombre </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white"> 
        <span *ngIf="!isEditMode || editRowId !== row.id">
          {{row.name}} 
          </span>
          <input
          formControlName="name"
          class="form-input text-gray-900 mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
          type="text" *ngIf="isEditMode && editRowId === row.id" [value]="row.name">

        <div *ngIf="buyerForm.get('name')?.invalid && 
        buyerForm.get('name')?.errors && 
        (buyerForm.get('name')?.dirty || buyerForm.get('name')?.touched)
        && isEditMode && editRowId === row.id
        ">
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('name')?.hasError('required') ">Este campo no puede estar vacío.</small>
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('name')?.errors?.['minlength'] || buyerForm.get('name')?.errors?.['maxlength'] ">La longitud debe ser de 3 hasta 50 caracteres.</small>
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('name')?.hasError('pattern') ">El nombre solo puede contener letras.</small>
      
      </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="surname" class="bg-white">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Apellido </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white"> 
        <span *ngIf="!isEditMode || editRowId !== row.id">
          {{row.surname}} 
          </span>
          <input
          formControlName="surname"
          class="form-input text-gray-900 mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
          type="text" *ngIf="isEditMode && editRowId === row.id" [value]="row.surname">

        <div *ngIf="buyerForm.get('surname')?.invalid &&
        buyerForm.get('surname')?.errors && 
        (buyerForm.get('surname')?.dirty || buyerForm.get('surname')?.touched)
        && isEditMode && editRowId === row.id
        ">
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('surname')?.hasError('required') ">Este campo no puede estar vacío.</small>
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('surname')?.errors?.['minlength'] || buyerForm.get('surname')?.errors?.['maxlength'] ">La longitud debe ser de 3 hasta 50 caracteres.</small>
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('surname')?.hasError('pattern') ">El nombre solo puede contener letras.</small>
      
      </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> DNI </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white"> 
        <span *ngIf="!isEditMode || editRowId !== row.id">
          {{row.dni}} 
          </span>
          <input
          formControlName="dni"
          class="form-input text-gray-900 mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
          type="text" *ngIf="isEditMode && editRowId === row.id" [value]="row.dni">

        <div *ngIf="buyerForm.get('dni')?.invalid &&
        buyerForm.get('dni')?.errors && 
        (buyerForm.get('dni')?.dirty || buyerForm.get('dni')?.touched)
        && isEditMode && editRowId === row.id
        ">
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('dni')?.hasError('required') ">Este campo no puede estar vacío.</small>
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('dni')?.errors?.['minlength'] || buyerForm.get('dni')?.errors?.['maxlength'] ">La longitud debe ser de 3 hasta 50 caracteres.</small>
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('dni')?.hasError('pattern') ">Ingrese un DNI válido.</small>
      
      </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="birthdate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Fecha de nacimiento </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white"> 
        <span *ngIf="!isEditMode || editRowId !== row.id">
        {{row.birthdate | date:'dd-MM-YYYY'}} 
        </span>

        <input
        id="birthdate"
        formControlName="birthdate"
        class="form-input text-gray-900 mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
        type="date" *ngIf="isEditMode && editRowId === row.id" [value]="row.birthdate">
        <div *ngIf="buyerForm.get('birthdate')?.invalid && 
        buyerForm.get('birthdate')?.errors && 
        (buyerForm.get('birthdate')?.dirty || buyerForm.get('birthdate')?.touched)
        && isEditMode && editRowId === row.id
        ">
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('birthdate')?.errors?.['required']">Este campo no puede estar vacío.</small>
        <small class="dark:text-yellow-200 text-light-primary" *ngIf="buyerForm.get('birthdate')?.errors?.['isAfter']">
          La fecha no debe ser posterior a {{date | date}}.
          <br>
          Ingrese una fecha válida
        </small>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="lastVisit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Ult. visita </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white">
        <span >
            {{ row.lastVisit}}
          </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class=" pl-4 text-white text-right actions"> Acciones </th>
      <td mat-cell *matCellDef="let row" class="text-right">
        <div class="flex gap-4 justify-end dark:text-white">
          <button (click)="enterEditMode(row)" *ngIf="!isEditMode || editRowId !== row.id">
            Editar
          </button>
          <button (click)="confirmEdit(row)" *ngIf="isEditMode && editRowId === row.id" [disabled]="buyerForm.invalid" [class.opacity-5]="buyerForm.invalid">
            Confirmar
          </button>
          <button (click)="exitEditMode()" *ngIf="isEditMode && editRowId === row.id">
            Cancelar
          </button>

          <button id="delete" (click)="emitDelete(row)" *ngIf="!isEditMode">
            Borrar
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encontraron registros de  "{{input.value}}"</td>
    </tr>
  </div>
  </table>
</div>
<div class="custom-dark  text-light-primary dark:text-white mt-5">
  <mat-paginator  [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 
                 #paginator
                 >
  </mat-paginator>
</div>
