/* .main-container {
  display: grid; 
  grid-template-columns: 1.5fr 1.4fr; 
  grid-template-rows: 0.1fr 0.2fr 1.8fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header"
    "navbar navbar"
    "main main"; 
}

.header { grid-area: header; }
.navbar { grid-area: navbar; }
.main { grid-area: main; } */
.main-container {
  display: grid; 
  grid-template-columns: 0.1fr 1.7fr 1fr 1fr; 
  grid-template-rows: 0.2fr 2.8fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar main main main"; 
}
.header { grid-area: header; }
.sidebar { grid-area: sidebar; }
.main { grid-area: main; }


@media screen and (max-width:768px){
  .main-container {
    display: grid; 
    grid-template-columns: 0.2fr 0.9fr 1fr; 
    grid-template-rows: 0.2fr 3.5fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header header header"
      "main main main"
      "sidebar sidebar sidebar"; 
  }
  .sidebar{
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
  }
  .main{
    height: calc(100vh - 90px);
    padding-bottom: 90px;
  }

}