.main-container {
    display: flex;
  }
  
  .navbar {
    width: fit-content; /* Ajusta el ancho según tus necesidades */
  }
  
  .router-content {
    flex-grow: 1;
  }
  .router-content.full-width {
    margin:12rem auto 0 0;
  }