<div class=" login-form mx-auto w-full h-full flex flex-col items-center  gap-4 text-light-primary dark:text-white">
    <form class="flex flex-col gap-4" [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
        <div class="flex gap-4">
        
            <div class="flex flex-col ">
                <label class="blok whitespace-nowrap w-[40%]">Descripcion <span
                        class="text-red text-sm align-top">*</span></label>
                <div class="">
                    <div class="flex">
                        <input
                            class="form-input text-gray-900 mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
                            type="text" id="description" placeholder="Descripcion" formControlName="description"
                            [class.border-red]="ticketForm.get('description')?.errors && ticketForm.get('description')?.touched"
                            [class.border-red]="ticketForm.get('description')?.errors && ticketForm.get('description')?.touched">
                    </div>
                </div>
                <div *ngIf="(ticketForm.get('description')?.invalid &&
                ticketForm.get('description')?.errors && 
                (ticketForm.get('description')?.dirty || ticketForm.get('description')?.touched))">
                    <div class="w-full flex flex-col gap-4">
                        <small class="dark:text-yellow-200 text-light-primary"
                            *ngIf="ticketForm.get('description')?.hasError('required')">Estos campos no pueden estar
                            vacíos.</small>
                        <small class="dark:text-yellow-200 text-light-primary"
                            *ngIf="ticketForm.get('description')?.errors?.['minlength'] || ticketForm.get('description')?.errors?.['maxlength']">La
                            longitud debe ser de 6 hasta 60 caracteres.</small>
                        <small class="dark:text-yellow-200 text-light-primary"
                            *ngIf="ticketForm.get('description')?.hasError('pattern') ">Ingrese un nombre de usuario para el
                            email válido<br>Sólo se permiten caracteres alfanumericos y los símbolos " . _ - " </small>
                    </div>
                </div>
            </div>
        

        <div class="flex flex-col gap-2 ">
            <div class="flex flex-col ">
                <label class="blok whitespace-nowrap ">Precio <span
                    class="text-red text-sm align-top">*</span></label>
                <div class="flex relative items-center">
                    <input
                        class="form-input text-gray-900 w-full mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
                        type="number" id="price" placeholder="Precio" formControlName="price"
                        #price
                        [class.border-red]="ticketForm.get('price')?.errors && ticketForm.get('price')?.touched">
                </div>
                <div *ngIf="(ticketForm.get('price')?.invalid &&
                ticketForm.get('price')?.errors && 
                (ticketForm.get('price')?.dirty || ticketForm.get('price')?.touched))">
                    <div class="w-full flex flex-col gap-4">
                        <small class="dark:text-yellow-200 text-light-primary"
                            *ngIf="ticketForm.get('price')?.hasError('required')">Estos campos no pueden estar
                            vacíos.</small>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    <div class="flex flex-col gap-2 justify-center">
                <ul class="max-h-52 overflow-y-auto">
                    <li  class="flex gap-4 my-5 items-center ">
                        <input class="form-radio p-2 m-2" type="radio" id="vip"
                            formControlName="vip" value="true">
                        <label for="vip">VIP</label>
                    </li>
                </ul>

            </div>
            <div *ngIf="(ticketForm.get('vip')?.invalid &&
            ticketForm.get('vip')?.errors && 
            (ticketForm.get('vip')?.dirty || ticketForm.get('vip')?.touched))">
            </div>

        <button
            class="bg-blue-500 hover:bg-blue-400 dark:text-white font-medium py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
            [class.opacity-5]="ticketForm.invalid" [class.cursor-not-allowed]="ticketForm.invalid">
            Guardar
        </button>
    </form>

</div>