<section class="h-full w-full flex flex-col pb-4 overflow-y-auto overflow-x-hidden ">
    <div class="mt-4 mx-8 flex justify-between lg:flex-nowrap flex-wrap-reverse">
        <div class="dark:text-white self-start flex gap-8 w-full">
            <button (click)="changeTab('ticket')">Vender entradas</button>
            <button (click)="changeTab('sales')">Ver ventas</button>
        </div>
        <div class=" whitespace-nowrap">

            <h1 class="text-3xl font-bold text-[#222D30] dark:text-yellow-200">{{game.name}}</h1>

        </div>
    </div>

    <div class="main container gap-4 w-full h-full pt-8 px-8 mx-auto" *ngIf="tab === 'ticket'">

        <div class="flex flex-wrap lg:flex-row md:flex-col w-full h-full gap-4">

            <div class="lg:w-96 w-full mx-auto">
            <app-add-ticket-form (ticket)="send($event)"></app-add-ticket-form>
            </div>
                <div class="lg:w-8/12 w-full min-w-[500px] min-h-[500px] mx-auto">
                <app-summary [ticketData]="ticketData" [currentGame]="game"></app-summary>
            </div>
        </div>

    </div>
    <div class="main container gap-4 w-full h-full  mx-auto max-h-[400px]" *ngIf="tab === 'sales'">

        <div class="flex flex-wrap lg:flex-row md:flex-col w-full h-full gap-4">

            <div class="w-full mx-auto">
            <app-sales [game]="game"></app-sales>
            </div>
        </div>

    </div>
    
</section>