<div class="flex gap-4 justify-end">
<input class=" form-input text-gray-900 mt-1 block self-end rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"  (keyup)="applyFilter($event)" placeholder="Filtrar" #input>
<input type="date" class=" form-input text-gray-900 mt-1 block self-end rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"  (change)="applyFilter($event)" placeholder="Filtrar" #inputDate>
<button class="" (click)="inputDate.value = '' ; input.value = '' ; applyFilter($event)" >
    x
</button>
</div>
<div class=" h-full min-h-[400px] overflow-auto my-4">
  <table mat-table [dataSource]="dataSource" matSort class="dark:bg-transparent bg-opacity-30 overflow-auto">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Id </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white"> 
        <span >
          {{row.id}} 
          </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="game" class="bg-white">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Juego </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white"> 
        <span >
          {{row.game}} 
          </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="purchaseDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Fecha </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white"> 
        <span >
          {{row.purchaseDate | date:'dd-MM-YYYY hh:mm:ss'}}
          </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="ticketsDetail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Tickets </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white"> 
        <span >
        {{row.ticketsDetail.length}} 
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Total </th>
      <td mat-cell *matCellDef="let row" class="dark:text-white">
        <span >
            {{ row.totalPrice | currency}}
          </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class=" pl-4 text-white text-right actions"> Acciones </th>
      <td mat-cell *matCellDef="let row" class="text-right">
        <div class="flex gap-4 justify-end dark:text-white">

          <button (click)="cancel(row.id)" >
            Cancelar
          </button>

        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No se encontraron registros </td>
    </tr>

  </table>
</div>
<div class="custom-dark  text-light-primary dark:text-white mt-5">
  <mat-paginator  [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 
                 #paginator
                 >
  </mat-paginator>
</div>
