<div class="w-full">
<form  [formGroup]="ticketForm" class="dark:text-white flex justify-between" (ngSubmit)="onSubmit()">
    <div class="flex flex-col flex-2 gap-2 w-full">

        <input
        class="form-input text-gray-900 mt-1 mx-0 h-10 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5"
        type="text"
        placeholder="DNI del cliente"
        [matAutocomplete]="auto"
        formControlName="buyer"
        [value]="displayBuyer(ticketForm.get('buyer')?.value)">
        <mat-autocomplete #auto="matAutocomplete" class="" [autoActiveFirstOption]="false">
            <mat-option *ngFor="let client of filteredClients$ | async" [value]="client">
                {{ client.name +' '+ client.surname }},({{client.dni}})
            </mat-option>
        </mat-autocomplete>
    
        <select formControlName="ticket" class="form-select text-gray-900 mt-1 block rounded-md border-gray-300 shadow-md focus:border-light-navbar caret-green focus:ring-2 focus:ring-light-navbar focus:ring-opacity-5 h-10" >
            <option [value]="null">Sin asignar</option>
            <option *ngFor="let ticket of tickets " [ngValue]="ticket">{{ticket.description}}</option>
        </select>


    <button type="submit" class="bg-light-navbar text-white w-full whitespace-nowrap px-2 rounded-md"  >
        GENERAR TICKET
    </button>
</div>
</form>
<div *ngIf="created">
    <button >TICKET ID: {{ticketID}}</button>
</div>
</div>