
<form [formGroup]="ticketForm" class="text-secondary">
    <select name="" id="tickets" (change)="setType($event)">
        <option value="">Selecciona un tipo de entrada</option>
        <option value="general">Entrada general</option>
        <option value="vip">Entrada VIP</option>
    </select>
    <input type="text" name="" id="buyer" placeholder="Código cliente">
    <div *ngIf="ticketType === 1">
    <select name="" id="games">
        <option value="">Selecciona un juego</option>
        <option value="">Juego 1</option>
        <option value="">Juego 2</option>
        <option value="">Juego 3</option>
        <option value="">Juego 4</option>
        <option value="">Juego 5</option>
    </select>
    <select name="" id="shifts">
        <option value="">Selecciona un turno</option>
        <option value="">10:30</option>
        <option value="">11:00</option>
        <option value="">11:30</option>
        <option value="">12:00</option>
        <option value="">12:30</option>
        <option value="">13:00</option>
        <option value="">13:30</option>
        <option value="">14:00</option>
        <option value="">14:30</option>
        <option value="">15:00</option>      
    </select>

</div>
<button class="dark:text-white text-secondary">Guardar y añadir otro</button>
<button class="dark:text-white text-secondary">Guardar e imprimir</button>
<button class="dark:text-white text-secondary">Cancelar</button>
</form>
