
<form [formGroup]="ticketForm" class="text-secondary flex justify-between" (ngSubmit)="onSubmit()">
    <div class="flex flex-2 gap-2">
    <select name="" id="tickets" (change)="setType($event)" >
        <option value="">Tipo de entrada</option>
        <option value="GENERAL">Entrada general</option>
        <option value="VIP">Entrada VIP</option>
    </select>
    <!-- <input type="text" name="" id="buyer" placeholder="Código cliente"> -->
    <app-buscador-cliente></app-buscador-cliente>
</div>
</form>
