@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Iso&display=swap');


::selection{
    background-color: #5dd259;
    color: #fff;
}

::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden;
    

}
