
<section class="flex justify-center items-start  gap-4 w-full flex-wrap h-full">
  <div class="mt-4 px-8 flex justify-between items-center w-full ">
    <div class="w-full">
        <div class="dark:text-white flex gap-8 w-full whitespace-nowrap pb-5">
            <button (click)="changeTab('view')">Lista de usuarios</button>
            <button (click)="changeTab('add')">Agregar usuario</button>
        </div>
        <div class="block w-full text-center">
            <h1 class="text-3xl font-bold text-[#222D30] dark:text-yellow-200">{{currentTab=='add'?'Registrar usuario':'Usuarios registrados'}}</h1>
        </div>
    </div>
</div>
    <div class="w-full p-4 flex flex-col justify-center" id="scrollbar">
        <div *ngIf="currentTab ==='view'">
        <app-table-users [roles]="roles"></app-table-users>
        </div>
        <div *ngIf="currentTab ==='add'">
          <app-user-form></app-user-form>
        </div>
      </div>
  </section>
